<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="questionMe">
    <p><%= @question %></p>
    <p>-- Me --</p>
  </div>
  <div class="questionCoach">
    <p><%= @answer %></p>
    <p>-- My coach --</p>
  </div>
  <p class="link"><%= link_to "Ask a new question", ask_path %></p>
</div>
