 p {
  font-size: 25px;
}

h1 {
  padding-bottom: 15px;
}

.forms {
  margin: 40px;
}

.container {
  margin: 25px;
  width: 500px;
}

.questionMe {
  border-left: 10px solid #CCCCCC;
  padding: 20px;
  margin-bottom: 30px;
}

.questionCoach {
  border-left: 10px solid #CCCCCC;
  background: yellow;
  padding: 20px;
}


.link {
  margin-top: 25px;
}
